<div id="page" class="pRel">
	
	<div id="reset">

		<div id="loginShadow" class="dropShadow b10 pageWrap">

			<div id="loginForm">
				<div id="loginLogo"><a href="#login">In Therapii - Login</a></div>
				<div class="well form-reset">
	        <form class="b10" name="form-reset" id="form-reset" ng-submit="resetSubmit()">
	          <h2 class="form-signin-heading">Reset your password</h2>
	          <input type="password" class="input-block-level" placeholder="New Password" id="resetPassword" name="resetPassword">
	          <input type="password" class="input-block-level" placeholder="Confirm New Password" id="resetPassword2" name="resetPassword2">
	          <input class="btn btn-large btn-primary dBlock" type="submit" id="btnResetSubmit" value="Submit" />
	        </form>
	      </div>

		</div>

		</div>

	</div>
	
</div>